.pointsEntryPortal-container {
    background-color: #1E73BE;
    color: white;
    height: 50px;

    display: flex;
    justify-content: flex-end;
}

.pointsEntryPortal-container > p {
    margin-right: 40px;
}

nav {
    background-color: #1EBEB9;
    color: white;
    height: 90px;

    display: flex;
    align-items: center
}

.banner_image_placeholder {
    height: 300px;
    width: 100%;
    background-color: rgb(244, 187, 83);
}

.partners-container > h2 {
    color: #1E73BE
}